@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.main h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.main h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.main h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.page-header {
  padding: 0 70px;
  display: flex;
}

.logo {
  margin-right: 28px;
  margin-bottom: -6px;
  z-index: 1;
}

.logo-img {
  display: block;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link.active::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  margin-left: 10px;
}

.navigation-icon {
  display: block;
  width: 44px;
  height: 64px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
}

.navigation-icon:focus-visible {
  outline: 2px solid #000000;
    outline-offset: -2px;

}

.navigation-icon.search {
  background-image: url(../images/icons/search-icon.svg);
}

.navigation-icon.favourites {
  background-image: url(../images/icons/favourites-icon.svg);
  position: relative;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-icon:hover {
  background-color: #F2F2F2;
  transition: background-color 0.5s ease;
}

.navigation-user .favourites-number {
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 4px;
  top: 10px;
}

.navigation-user .navigation-button {
  margin-left: 20px;
  min-width: 160px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.button {
  border: none;
  cursor: pointer;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.button-basic {
  background-color: #756157;
}

.button-basic:hover,
.button-basic:focus-visible {
  background-color: #615048;
}

.button-second {
  background-color: #82B3D3;
}

.button-second:hover,
.button-second:focus-visible {
  background-color: #68A2CA;
}

.button-selected {
  background-color: #7DB54F;
}

.button-selected:hover,
.button-selected:focus-visible {
  background-color: #6C9E42;
}

.button-transparent:hover {
  opacity: 60%;
}

/* .button-transparent:focus-visible {
  outline: 3px solid #83B3D3;
} */

.button:active {
  color: rgba(255, 255, 255, 0.3)
}

.button:disabled {
  background-color: #E5E5E5;
}

.hero {
  background: #2c6388 url(../images/hero-background.jpg) no-repeat center / cover;
  padding: 51px 20px 82px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  max-width: 620px;
  margin: 0 auto 25px;
  text-align: center;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 69px;
  max-width: 600px;
}

.section-subtitle:has(+ button),
.section-subtitle:has(+ form) {
  margin: 0 auto 54px;
}

.advantages {
  padding-top: 69px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  width: 400px;
  flex-grow: 1;
}

.advantages-text {
  padding: 112px 85px;
  text-align: center;
}

.advantages-image {
  display: block;
  height: 100%;
  object-fit: cover;
}

.advantages-title {
  max-width: 172px;
  margin: 0 auto;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantage-with-image .advantages-title::after {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-item:not(.advantage-with-image):nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item.advantage-with-image {
  background-color: #82B3D3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-item.advantage-with-image .advantages-title {
  color: #ffffff;
}

.advantages-item.advantage-with-image .advantages-text {
  padding: 102px 85px;
}

.advantages-item.advantage-with-image:last-child {
  flex-direction: row-reverse;
}

.services {
  padding-top: 64px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  list-style: none;
  text-align: center;
  padding: 81px 85px;
  max-width: 400px;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12)
}

.services-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services-item.housing::before {
  background-image: url(../images/icons/services-house.svg);
}

.services-item.food::before {
  background-image: url(../images/icons/services-food.svg);
}

.services-item.souvenirs::before {
  background-image: url(../images/icons/services-souvenir.svg);
}

.hotel-search,
.subscribe {
  padding: 96px 30px;
  text-align: center;
}

.subscribe-with-background {
  background: #2c6388 url(../images/subscribe-background.jpg) no-repeat center / cover;
  color: #ffffff
}

.subscribe-with-background .section-title {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  width: 100%;
  max-width: 684px;
  margin: 0 auto;
}

.email-input {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  padding: 12px 20px;
  background-color: #F2F2F2;
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.email-input:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;;
}

.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  max-width: 300px;
}

.social-item {
  list-style: none;
}

.social-link {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 47px;
  height: 40px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-link:hover .social-icon path,
.social-link:focus-visible .social-icon path {
  fill: #68A2CA;
}

.social-link:active .social-icon path {
  opacity: 0.3;
}


.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover,
.footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  opacity: 0.3;
}

.html-academy-logo:hover path,
.html-academy-logo:focus-visible path {
  fill: #756157;
}

.html-academy-logo:active {
  opacity: 0.3;
}

.inner-header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background: #2c6388 url(../images/filters-background.jpg) no-repeat center / cover;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 7px;
  height: 10px;
  background-image: url(../images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  display: block;
  width: 15px;
  height: 21px;
  background-image: url("../images/icons/breadcrumbs-house.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px 21px;
}

.filters-form {
  display: flex;
  justify-content: space-between;
}

.filters-form-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filters-form-group:not(:last-child) {
  margin-right: 70px;
}

.filters-form .form-column {
  display: flex;
  max-width: 550px;
}

.filters-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.filters-form-list {
  margin: 0;
  padding: 0;
}

.filters-form-item {
  list-style: none;
  margin-bottom: 16px;
}

.filters-form-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover {
  opacity: 0.6;
}

.control:active .control-mark,
.control:active .control-label {
  opacity: 0.3;
}

.control-input:focus-visible + .control-mark{
  outline: 2px solid #000000;

}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url(../images/icons/check-mark.svg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.range-wrapper-input {
  position: relative;
}

.range-input {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  width: 143px;
  padding: 12px 40px 12px 20px;
  border: none;
  -moz-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input-label {
  color: rgba(0, 0, 0, 0.3);
  line-height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #5e676d;
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range-toggle:active {
  outline: 2px solid #82b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filters-form-group-buttons {
  padding-top: 56px;
}

.filters-submit-button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.filters-reset-button {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  align-items: center
}

.catalog-header h2 {
  margin: 7px auto 7px 0;
}

.catalog-header .select-control {
  margin-right: 70px;
  padding: 12px 83px 12px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  position: relative;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: right 21px center;
  cursor: pointer;
}

.catalog-view-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-button {
  color: inherit;
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-button.tile {
  background-image: url(../images/icons/view-tile.svg);
}

.view-button.desktop {
  background-image: url(../images/icons/view-desktop.svg);
}

.view-button.list {
  background-image: url(../images/icons/view-list.svg);
}

.view-button.active,
.view-button:hover,
.view-button:active {
  border-color: #000000;
}

.hotels-list {
  margin: 0;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.hotel-card {
  list-style: none;
  max-width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto auto auto;
  gap: 16px 20px;
}

.hotel-card-link {
  grid-column: 1/-1;
}

.hotel-card .hotel-card-title {
  text-transform: none;
  margin: 0;
}

.hotel-card a {
  text-decoration: none;
  width: fit-content;
}

.hotel-card-image {
  display: block;
  object-fit: cover;
}

.hotel-card p,
.hotel-card button {
  margin: 0;
}

.hotel-card .button {
  width: 140px;
  padding: 8px 15px;
  font-size: 16px;
  line-height: 20px;
}

.hotel-card-stars {
  height: 17px;
  background-image: url(../images/icons/star.svg);
  background-repeat: space repeat;
  background-size: contain;
  align-self: center;
}

.hotel-card-stars.one-stars {
  width: 20px;
}

.hotel-card-stars.two-stars {
  width: 40px;
}

.hotel-card-stars.three-stars {
  width: 60px;
}

.hotel-card-stars.four-stars {
  width: 80px;
}

.hotel-card-stars.five-stars {
  width: 100px;
}

.hotel-card-price {
  text-align: right;
}

.hotel-card .hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  display: inline-block;
  padding: 8px 15px;
  width: 140px;
  margin: 0;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 11px 10px 0;
  transition: background-color 0.5s ease;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.pagination-link.current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link.ellipsis {
  background-color: transparent;
  color: #000000;
}
