@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main {
  flex-grow: 1;
}

.main h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.main h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.main h3{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.page-header {
  padding: 0 70px;
  display: flex;
}

.logo {
  margin-right: 28px;
}

.navigation {
  display: flex;
  width: 892px;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.page-header .favourites {
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #ffffff;
}

.button {
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
}

.hero {
  background: #2c6388 url(../images/hero-background.jpg) no-repeat center / cover;
  padding: 51px 20px 82px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  max-width: 620px;
  margin: 0 auto 25px;
  text-align: center;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 20px 90px;
}

.section-subtitle:has(+ button),
.section-subtitle:has(+ form) {
  margin: 0 20px 54px;
}

.advantages {
  padding-top: 69px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  width: 400px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  background-color: #82B3D3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-item:nth-child(1) .advantages-title,
.advantages-item:nth-child(5) .advantages-title {
  color: #ffffff;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2)
}

.advantages-item:nth-child(5) .advantages-image {
  order: -1;
}

.advantages-text {
  padding: 112px 85px;
  text-align: center;
}

.advantages-item:nth-child(1) .advantages-text,
.advantages-item:nth-child(5).advantages-text {
  padding: 102px 85px;
}

.advantages-image {
  display: block;
  height: 100%;
}

.advantages-title {
  max-width: 200px;
  margin: 0 auto;
}

.services {
  padding-top: 64px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.services-item {
  list-style: none;
  text-align: center;
  padding: 81px 85px;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12)
}

.hotel-search,
.subscribe {
  padding: 96px 30px;
  text-align: center;
}

.subscribe-with-background {
  background: #2c6388 url(../images/subscribe-background.jpg) no-repeat center / cover;
  color: #ffffff
}

.subscribe-with-background .section-title {
  color: #ffffff;
}

.email-input {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  font-family: inherit;
}

.subscribe .button {
  background-color: #82B3D3;
}

.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.social-list {
  margin: 0;
  padding: 0;
}

.social-item {
  list-style: none;
}

.social-item a {
  color: inherit;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.inner-header {
  padding: 35px 70px;
  color: #ffffff;
  background: #2c6388 url(../images/filters-background.jpg) no-repeat center / cover;
}

.filters-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filters-form {
  display: flex;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
}

.filters-form-list {
  margin: 0;
  padding: 0;
}

.filters-form-item {
  list-style: none;
}

.text-input {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.filters-submit-button {
  background-color: #82B3D3;
}

.filters-reset-button {
  background-color: transparent;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-family: inherit;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
}

.catalog-header h2 {
  margin: 7px auto 7px 0;
}

.catalog-header .select-control {
  margin-right: 70px;
}

.catalog-view-list {
  margin: 0;
  padding: 0;
}

.catalog-view-item {
  list-style: none;
}

.view-button {
  color: inherit
}

.hotels-list {
  margin: 0;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card {
  list-style: none;
  width: 340px;
  padding: 20px;
}

.hotel-card .hotel-card-title {
  text-transform: none;
}

.hotel-card a {
  text-decoration: none;
}

.to-favourites {
  background-color: #82B3D3;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  display: inline-block;
  padding: 9px 22px 8px 23px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  list-style: none;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding-top: 11px;
}

.pagination-link.current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link.ellipsis {
  background-color: transparent;
  color: #000000;
}
